<section>
    <a ui-sref="home" class="btn btn-primary top-nav"><span class="fa fa-arrow-circle-o-left fa-2x"></span></a>

    <h1>Who <span random-swear-word="ing" cap="true" ng-if="lushMode"></span> Wants In?</h1>

    <div class="form-group">
        <form name="lushFrm" class="form-horizontal">
            <fieldset>
                <div class="input-group well clearfix">

                    <input ng-show="!lushMode" type="text" name="_Input_Lush_Moniker_" id="inptLushMoniker" class="form-control" required placeholder="Moniker" ng-model="lush.moniker" select-on-focus>
                    <input ng-show="lushMode" type="text" name="_Input_Lush_Moniker_" id="inptLushMoniker" class="form-control" required placeholder="Lush moniker" ng-model="lush.moniker" select-on-focus>

                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="addLush(lush)"><span class="fa fa-plus-circle"></span></button>
                    </span>
                </div><!-- .input-group -->
            </fieldset>
        </form>
    </div><!-- .form-group -->


    <div ng-if="currentLushes.length">
        <section class="currently-supping well">
            <h3>Currently
                <span ng-show="!lushMode">Supping</span>
                <span ng-if="lushMode">
                    Getting <span random-swear-word="ed" cap="true"></span>
                </span>
            </h3>

            <a class="btn btn-danger btn-new-round" ng-click="removeAllLushes()">
                <span class="fa fa-minus-circle"></span>&nbsp;
                Start a new
                <span ng-if="lushMode">
                    <span random-swear-word></span>
                </span>
                round
            </a><!-- Clear all the current lushes -->

            <ul class="list-lush list-unstyled">
                <li ng-repeat="lush in currentLushes track by $index">
                    <div class="col-sm-12">{{ lush }}</div>
                    <a class="btn btn-danger btn-called-time" ng-click="removeLush()"><span class="fa fa-minus-circle"></span>&nbsp;
                        <span ng-show="!lushMode">Not here</span>
                        <span ng-if="lushMode">
                            <span random-swear-word="ed" cap="true"></span>
                            off
                        </span>
                    </a>

                </li>
            </ul><!-- List of lushes in current round -->
        </section>
    </div>
</section>