// This is the main application stylesheet. It should include or import all
// stylesheets used throughout the application as this is the only stylesheet in
// the Grunt configuration that is automatically processed.

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/*
    $ANGULAR........................Special classes used by AngularJS
    $BOOTSTRAP......................bootstrap imports - (mostly un-used, getting it from a CDN).
    $VENDOR OVERIDES................overidden vendor styling.
    $FONT-FACE......................import brand fonts.
    $MISC IMPORTS (NOT BOOTSTRAP)...LESS imports that aren't bootstrap and this app
    $ELEMENTS.......................unclassed elements h1, h2, p, ul, li
    $STRUCTURE......................main structural styles - header/footer etc.
    $APP WIDE STYLES................generic styles.
    $NAVS...........................generic nav styles - overrides of default bootstrap styles.
    $FORMS..........................generic form styles - overrides of default bootstrap styles.
    $BUTTONS........................generica button styles - overrides of default bootstrap styles.
    $ICONS..........................icons used across multiple pages of the site.
    $APP IMPORTS....................imports of each apps styles within the project
    $LISTS..........................list styling
    $MEDIA QUERIES..................media query overides
*/





/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

// @import '../../vendor/bootstrap/less/mixins.less';
// @import '../../vendor/bootstrap/less/utilities.less';
// @import '../../vendor/bootstrap/less/scaffolding.less';
// @import '../../vendor/bootstrap/less/type.less';
// @import '../../vendor/bootstrap/less/grid.less';
// @import '../../vendor/bootstrap/less/navs.less';
// @import '../../vendor/bootstrap/less/forms.less';
// @import '../../vendor/bootstrap/less/navbar.less';
// @import '../../vendor/bootstrap/less/buttons.less';
// @import '../../vendor/bootstrap/less/button-groups.less';
// @import '../../vendor/bootstrap/less/dropdowns.less';





/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';





/*------------------------------------*\
    $VENDOR OVERIDES
\*------------------------------------*/
.whoseroundisit {


}




/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/





/*------------------------------------*\
    $MISC IMPORTS (NOT BOOTSTRAP)
\*------------------------------------*/
@import 'vendor/switchery/dist/switchery.less';





/*------------------------------------*\
    $ELEMENTS
\*------------------------------------*/
html,
body,
.full-height {
    height: 100%;
}

body {
    padding-top: 10px;
}

h1 {
    margin-top: 0;
}

h1,
p {
    margin-bottom: 20px;
}





/*------------------------------------*\
    $STRUCTURE
\*------------------------------------*/
.main-container {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: ~'-@{footer-height}px';
}

.main-container:after {
    content: "";
    display: block;
}

.site-footer,
.main-container:after {
    height: ~'@{footer-height}px';
}

.site-footer {
    background: #f5f5f5;
    padding: 15px 0 0;
}

.main-view {
    clear: both;
    position: relative;
}

.current-lush {
    font-size: 1.7em;
    position: relative;
}

.btn-called-time,
.btn-new-round {
    margin: 10px auto 0;
    position: relative;
    right: auto;
    top: auto;
}

.currently-supping {
    position: relative;

    h3 {
        margin-top: 0;
    }
}







/*------------------------------------*\
    $APP WIDE STYLES
\*------------------------------------*/
.cb {
    clear: both;
}

.top-nav {
    right: 0;
    position: absolute;
    top: -56px;
}

.mode-container {
    margin: 0 0 20px;
    padding: 10px 0 0;
    text-align: left;
}





/*------------------------------------*\
    $APP IMPORTS
    Now that all app-wide styles have been applied, we can load the styles for
    all the submodules and components we are using.
\*------------------------------------*/
@import '../app/home/home.less';





/*------------------------------------*\
    $LISTS
\*------------------------------------*/
.list-lush  {
    margin-top: 35px;

    li {
        margin: 5px 0;
        min-height: 35px;
        padding: 8px 0;
        position: relative;
    }
}





/*------------------------------------*\
    $MEDIA QUERIES
\*------------------------------------*/

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
    .btn-called-time {
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .btn-new-round {
        margin-top: 0;
        position: absolute;
        right: 19px;
        top: 19px;
    }
}