/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */

@import '../../vendor/bootstrap/less/variables.less';


/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;




// These are the variables used throughout the application. This is where
// overwrites that are not specific to components should be maintained.

@import '../../vendor/bootstrap/less/variables.less';

// $VARIABLES
@sansFontFamily:    'Roboto', sans-serif;
@footer-height:     50;

// $DIRECTORYS
@image-directory:               '../assets/images/';
@font-directory:                '../assets/fonts/';