<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org" id="ng-app" ngApp="whoseRoundIsIt" ng-controller="AppController"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:ng="http://angularjs.org" id="ng-app" ngApp="whoseRoundIsIt" ng-controller="AppController"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:ng="http://angularjs.org" id="ng-app" ngApp="whoseRoundIsIt" ng-controller="AppController"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js gt-ie8" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="whoseRoundIsIt" ng-controller="AppController"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Whose Round Is It?</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="fragment" content="!" />

    <meta name="author" content="@helloJC">
    <meta name="description" content="Never forget whose round it is next. Store your mates monikers and call up the next one with a simple click. No more shirking your round.">
    <meta name="keywords" content="whose round is it anyway, beer round, tea round, coffee round">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- font awesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->

    <meta http-equiv="cleartype" content="on"> <!-- make windows mobile use cleartype -->

    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
</head>

<body class="whoseroundisit">
    <div class="main-container">

        <div class="container text-center">
            <div class="clearfix mode-container">
                <span ng-show="!lushMode">Tea</span>
                <span ng-show="lushMode">Beer!</span>
                <input type="checkbox" class="js-switch" ui-switch="{color: '#f0ad4e', secondaryColor: '#64bd63'}" ng-change="setLushMode(lushMode)" ng-checked="lushMode" ng-model="lushMode" />
            </div>

            <div class="main-view" ui-view="main"></div>
        </div><!-- .container -->
    </div><!-- .main-container -->


    <footer class="text-center site-footer">
        <span ng-show="!lushMode">Hot beverage </span>
        <span ng-show="lushMode">Boozing </span>
        <i class="glyphicon glyphicon-heart"></i> from <%= author %>
    </footer><!-- .site-footer -->


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>?v=<%= version %>"></script><% }); %>

</body>
</html>
