<section>
    <a ui-sref="lush" class="btn btn-primary top-nav"><span class="fa fa-bars fa-2x"></span></a>

    <h1>Whose <span random-swear-word="ing" cap="true" ng-if="lushMode"></span> Round Is It?</h1>

    <p>
        <div ng-if="!currentLushes.length">
            <a ui-sref="lush" class="btn btn-lg btn-primary">
                Start a new
                <span ng-if="lushMode">
                    <span random-swear-word></span>
                </span>
                round
            </a>
        </div><!-- Start new round -->

        <div ng-if="currentLushes.length">
            <a class="btn btn-lg btn-primary" ng-click="nextLush()">
                Who's next to get the
                <span class="fa fa-coffee fa-lg" ng-show="!lushMode"></span>
                <span ng-if="lushMode">
                    <span random-swear-word></span>
                    <span class="fa fa-beer fa-lg"></span>
                </span>
                's in?
            </a>
        </div><!-- Who's next to get the drinks in -->
    </p>


    <div class="current-lush well clearfix">
        <div ng-if="!currentLushes.length">
            <span ng-show="!lushMode">
                No suppers
            </span>

            <span ng-if="lushMode">
                No <span random-swear-word></span> lushes getting <span random-swear-word="ed"></span>
            </span>
            yet.
        </div>

        <div ng-if="currentLushes.length">
            {{ currentLushes[0] }}
        </div><!-- The current lush who should be getting the round -->
    </div>


</section>


